# Exclude everything
*

# Include the JS files and package.json
!app/javascript/ruby_native/react.js
!app/javascript/ruby_native/vue.js
!package.json

# Re-include necessary parent directories (npm needs these to traverse)
!app/
!app/javascript/
!app/javascript/ruby_native/
