[data-native-app] .native-hidden {
  display: none !important;
}

.native-inset-top::before,
.native-inset::before {
  content: "";
  display: block;
  height: env(safe-area-inset-top);
}

.native-inset-bottom::after,
.native-inset::after {
  content: "";
  display: block;
  height: env(safe-area-inset-bottom);
}

.native-back-button {
  display: none;
}

body.can-go-back .native-back-button {
  display: inline;
}

[data-bridge-components~="form"]
[data-controller~="bridge--form"]
[type="submit"] {
  display: none;
}

[data-bridge-components~="button"]
[data-controller~="bridge--button"] {
  display: none;
}
